<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/vnd.microsoft.icon" href="assets/favicon.ico" sizes="16x16">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/selector.css" rel="stylesheet">
    <link href="/stylesheets/about.css" rel="stylesheet">
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/bootstrap.bundle.js"></script>
    <script src="/javascripts/globalconf.js"></script>
    <script type="text/javascript" src="/javascripts/fileSelection/verificacion.js"></script>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title> Diaforá Taxonomy Viewer </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="/">
            <div class="align-items-center no-gutters row">
                <div class="col">
                    <img height="30px" src="assets/DiaforaIcon.png">
                </div>
                <div class="col"><span class="mb-0 h1 ml-2 navbar-brand">Diaforá</span>
                </div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
				<span class="sr-only">(current)</span>
			  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="bg"></div>
        <div class="container jumbo-item">
            <h1 class="display-4 jumbo-item">About Us</h1>
        </div>
    </div>
    <div class="about-text">
        Diaforá is an initiative from the Intituto Tecnológico de Costa Rica
        <a href="https://www.tec.ac.cr/">ITCR</a> to provide a visualization tool for taxonomic information. We aim that Diaforá will be helpful for taxonomist and biologist or enthusiast that are engaged with the comparison and correction of taxonomic
        trees in their databases.
    </div>
    <a href="https://www.tec.ac.cr/">
        <img class="logo-tec" src="assets/images/logo-tec.png" alt="ITCR">
    </a>
    </div>
    </div>
</body>

</html>