<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8"/>
    <link rel="icon" type="image/vnd.microsoft.icon" href="assets/favicon.ico" sizes="16x16">
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="/stylesheets/selector.css" rel="stylesheet">
	<script src="/lib/jquery.min.js"></script>
	<script src="/lib/bootstrap.bundle.js"></script>
	<script type="text/javascript" src="/javascripts/fileSelection/verificacion.js"></script>
	<meta http-equiv="Access-Control-Allow-Origin" content="*"> 
    <title> Diafor치 Taxonomy Viewer </title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a href="#"><div class="align-items-center no-gutters row">
			<div class="col">
				<img height="30px" src="assets/DiaforaIcon.png">
			</div>
			<div class="col"><span class="mb-0 h1 ml-2 navbar-brand">Diafor치</span>
			</div>
		</div>
	</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarColor02">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="#">Home
				<span class="sr-only">(current)</span>
			  </a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Features</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Pricing</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">About</a>
			</li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
			  <div class="dropdown-menu">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Separated link</a>
			  </div>
			</li>
		  </ul>
		  <form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search">
			<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
		  </form>
		</div>
	  </nav>
<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/flower.jpg" class="d-block" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Diafor치:</h5>
        <p>Taxonomies interactive comparison tool.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/tiger.jpg" class="d-block" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>See the changes:</h5>
        <p>Diafor치 provides a quick overview for taxonomy changes.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/frog.jpg" class="d-block " alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>A tool for the experts</h5>
        <p>Get insight about taxonomies changes.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
	<h1 class="">Select Taxonomies</h1>
	<p id="error_text" class="alert_display"></p>
	<div id="content" class="selection_body">	
		<table class ="table">
		<td width="30%"><label id="label">First Taxonomy</label></td>
		<td><input id="file1" class="file_input" type="file" name="Taxonomy1" value="Taxonomy" accept=".json"></input></br></td>
		<tr>
		<td width="30%"><label id="label">Second Taxonomy</label></td>
		<td><input id="file2" class="file_input"type="file" name="Taxonomy2" value="Taxonomy" accept=".json"></input></br></td>
		</table>
		<button onclick="VerificarDatos()" id="Save" class="important_button">Load</button>
		<button onclick="onDownload()" class="important_button">Download from Col</button>
		<button class="important_button">About</button>
	</div>
</body>
</html>