<!DOCTYPE html>
<html>

<head>
    <title>Diaforá Taxonomy Viewer</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="assets/favicon.ico" sizes="16x16" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/selector.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/spinners.css" />
    <link rel="stylesheet" href="/javascripts/sunburst-chart/sunburst.css" />
    <link rel="stylesheet" href="/javascripts/icicle-chart/icicle.css" />
    <link rel="stylesheet" href="/javascripts/indentedTreeView/indentedTree.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/maindash.css" />
    <!-- <script src="https://kit.fontawesome.com/c25a5a0cde.js" crossorigin="anonymous"></script> -->
    <script src="/javascripts/lib/jquery.min.js"></script>
    <script src="/javascripts/lib/p5.js"></script>
    <script src="/javascripts/lib/p5.dom.js"></script>
    <link rel="stylesheet" href="/javascripts/lib/bootstrap-icons.css" />
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/bootstrap.bundle.js"></script>
    <script src="/lib/string-similarity.min.js"></script>
    <script src="/javascripts/globalconf.js"></script>
    <script src="/javascripts/drawMenu.js"></script>
    <script src="/javascripts/generic.js"></script>
    <script src="/javascripts/countChildren.js"></script>
    <script src="/javascripts/preprocesamiento.js"></script>
    <script src="/javascripts/lineSystem.js"></script>
    <script src="/javascripts/filter.js"></script>
    <script src="/javascripts/ordering.js"></script>
    <script src="/javascripts/lib/d3.v6.js"></script>
    <script src="/javascripts/lib/d3-color.v2.min.js"></script>
    <script src="/javascripts/lib/d3-interpolate.v2.min.js"></script>
    <script src="/javascripts/lib/d3-scale-chromatic.v2.min.js"></script>
    <script src="/javascripts/lib/Chart.js"></script>
    <script src="/javascripts/lib/chartjs-plugin-labels.js"></script>
    <script src="/javascripts/sunburst-chart/sunburst-chart.js"></script>
    <script src="/javascripts/icicle-chart/icicle-chart.js"></script>
    <script src="/javascripts/indentedTreeView/indentedTree.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js"></script>
    <script type="text/javascript" src="https://golden-layout.com/files/latest/js/goldenlayout.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-base.css" />
    <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-dark-theme.css" />
    <script src="/javascripts/drawTree.js"></script>
</head>
<script>
    var protoType = <%= query.protoType? query.protoType : 1 %>;
    var goldeninit = false;
    var myLayout = {};
    var gdetails = {
        type: 'column',
        id: 'g-details-section',
        content: [{
            type: 'component',
            componentName: 'changedetails',
            title: 'Change Details',
            componentState: {
                label: 'D'
            },
            isClosable: false
        }]
    }
    $(document).ready(function() {
        var config = {
            content: [{
                type: 'column',
                id: 'main-container',
                content: [{
                    type: 'row',
                    id: 'main-row',
                    content: [{
                        type: 'component',
                        componentName: 'statistics',
                        title: 'Statistics',
                        componentState: {
                            label: 'A'
                        },
                        width: 13,
                        isClosable: false
                    }, {
                        type: 'component',
                        componentName: 'edgeDrawing',
                        title: 'Taxonomic Comparison',
                        componentState: {
                            label: 'B'
                        },
                        width: 45,
                        isClosable: false
                    }, {
                        type: 'component',
                        componentName: 'diffView',
                        title: 'Taxonomic Differences',
                        componentState: {
                            label: 'C'
                        },
                        width: 42,
                        isClosable: false

                    }]
                }]
            }],
            settings: {
                hasHeaders: true,
                constrainDragToContainer: true,
                reorderEnabled: true,
                selectionEnabled: false,
                popoutWholeStack: false,
                blockedPopoutsThrowError: true,
                closePopoutsOnUnload: true,
                showPopoutIcon: false,
                showMaximiseIcon: true,
                showCloseIcon: false
            }
        };

        myLayout = new GoldenLayout(config, $('#visualization-area'));

        myLayout.registerComponent('testComponent', function(container, componentState) {
            container.getElement().html('<h2>' + componentState.label + '</h2>');
        });

        myLayout.registerComponent('statistics', function(container, componentState) {
            container.getElement().html('<div id="statistics" class="collapse show left-panel">\
                                                                                                                                                                                                                                                                                            <table id="table_taxon_id" class="table_stadistic"></table>\
                                                                                                                                                                                                                                                                                            <hr class="separator" />\
                                                                                                                                                                                                                                                                                            <table id="table_rank_id" class="table_stadistic"></table>\
                                                                                                                                                                                                                                                                                        </div>\
                                                                                                                                                                                                                                                                                        ');
        });


        myLayout.registerComponent('edgeDrawing', function(container, componentState) {
            container.getElement().html('\
                                                                                                                                                                                                                                                                                                                     <div id="sketch-holder" class="main_body">\
                                                                                                                                                                                                                                                                                                                                                                    </div>');

            container.on('resize', function() {
                console.log('panel_resize');
                if (typeof resizeCanvas === "function") {
                    resizeCanvas(container.width, container.height);
                }
            })
        });


        myLayout.registerComponent('diffView', function(container, componentState) {
            container.getElement().html(`
                                                                                                                                                                                                                                                                                                <div id="differenceView">
                                                                                                                                                                                                                                                                                                <div id="sunburstChart" class="treeContainer  topPane"></div>
                                                                                                                                                                                                                                                                                                <span id="treeContext" class"treeContextLabel"></span>
                                                                                                                                                                                                                                                                                                <div id="indentedTree" class="topPane treeContainer "></div>
                                                                                                                                                                                                                                                                                                <div class="input-group mb-3 search-diff">
                                                                                                                                                                                                                                                                                                    <div class="ui-widget">
                                                                                                                                                                                                                                                                                                        <input id="tags" class="form-control" placeholder="Search taxa" />
                                                                                                                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                                                                                                    <div class="input-group-append">
                                                                                                                                                                                                                                                                                                        <button id="search-btn" class="btn btn-primary search-btn" onclick="onSearch()">
                                                                                                                                                                                                                                                                                                                <i class="fas fa-search"></i>
                                                                                                                                                                                                                                                                                                            </button>
                                                                                                                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                                                                                                <div id="tooltip" style="position: fixed; display: none;z-index: 5;">
                                                                                                                                                                                                                                                                                                    <canvas id="tooltipChart" width="250" height="250"></canvas>
                                                                                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                                                                                                <span id="placeholder" class="placeholder"> Select a change type to display this view </span>
                                                                                                                                                                                                                                                                                            </div>
                                                                                                                                                                                                                                                                                                `);
        });

        myLayout.registerComponent('changedetails', function(container, componentState) {
            container.getElement().html(`
                                                                                                                                                                                                                                                <div id="changeDetailsContainer" class="main_body" style="display:none">
                                                                                                                                                                                                                                            <div id="changeDetails" class="details-table change-details">
                                                                                                                                                                                                                                                <div class="general-title">
                                                                                                                                                                                                                                                    <span id="change-title">Change details for: Species X</span>
                                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                                                <div class="tree-titles">
                                                                                                                                                                                                                                                    <div class="column">
                                                                                                                                                                                                                                                        <span id="tree1-title">tree.author +""+ tree.date</span>
                                                                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                                                    <div class="column">
                                                                                                                                                                                                                                                        <span id="tree2-title">tree.author +""+ tree.date</span>
                                                                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                                                <div id="oldTaxonomy" class="old-tax"></div>
                                                                                                                                                                                                                                                <div id="newTaxonomy" class="new-tax"></div>
                                                                                                                                                                                                                                            </div>
                                                                                                                                                                                                                                        </div>
                                                                                                                                                                                                                                                `);
        });

        myLayout.on('initialised', function() {
            goldeninit = true;
        });
        myLayout.init();
        hideDetailsSection();
        window.addEventListener('resize', () => {
            myLayout.updateSize();
        });
    });
</script>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="./">
            <div class="align-items-center no-gutters row">
                <div class="col">
                    <img height="30px" src="assets/DiaforaIcon.png" />
                </div>
                <div class="col">
                    <span class="mb-0 h1 ml-2 navbar-brand">Diaforá</span>
                </div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mx-auto">
                <% if (query.mode !== '1') { %>
                    <li class="nav-item">
                        <div class="encircledBox">
                            <label>Congruent</label>
                            <label class="switch">
                                <input
                                    type="checkbox"
                                    name="congruece"
                                    onclick="onCongruenceChange()"
                                />
                                <span
                                    class="slider_switch round congruence_slider_switch"
                                ></span>
                            </label>
                        </div>
                    </li>
                    <%}%>
                        <li class="nav-item">
                            <div class="encircledBox">
                                <label>Split</label>
                                <label class="switch">
                                <input
                                    type="checkbox"
                                    name="split"
                                    onclick="onSplitChange()"
                                />
                                <span
                                    class="slider_switch round split_slider_switch"
                                ></span>
                            </label>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="encircledBox">
                                <label>Merged</label>
                                <label class="switch">
                                <input
                                    type="checkbox"
                                    name="merge"
                                    onclick="onMergeChange()"
                                />
                                <span
                                    class="slider_switch round merge_slider_switch"
                                ></span>
                            </label>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="encircledBox">
                                <label>Moved</label>
                                <label class="switch">
                                <input
                                    type="checkbox"
                                    name="move"
                                    onclick="onMoveChange()"
                                />
                                <span
                                    class="slider_switch round move_slider_switch"
                                ></span>
                            </label>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="encircledBox">
                                <label>Author</label>
                                <label class="switch">
                                <input
                                    type="checkbox"
                                    name="authorChanged"
                                    onclick="onAuthorChange()"
                                />
                                <span
                                    class="slider_switch round author_slider_switch"
                                ></span>
                            </label>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="encircledBox">
                                <label>Renamed</label>
                                <label class="switch">
                                <input
                                    type="checkbox"
                                    name="rename"
                                    onclick="onRenameChange()"
                                />
                                <span
                                    class="slider_switch round rename_slider_switch"
                                ></span>
                            </label>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="encircledBox">
                                <label>Added</label>
                                <label class="switch">
                                <input
                                    type="checkbox"
                                    name="add"
                                    onclick="onAddedChange()"
                                />
                                <span
                                    class="slider_switch round add_slider_switch"
                                ></span>
                            </label>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="encircledBox">
                                <label>Excluded</label>
                                <label class="switch">
                                <input
                                    type="checkbox"
                                    name="removes"
                                    onclick="onRemovedChange()"
                                />
                                <span
                                    class="slider_switch round remove_slider_switch"
                                ></span>
                            </label>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="encircledBox">
                                <label></label>
                                <label class="switch">
                                <input type="checkbox" name="space" />
                            </label>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="encircledBox">
                                <label>Lines</label>
                                <label class="switch">
                                <input
                                    type="checkbox"
                                    name="lineas"
                                    onclick="onLineChange()"
                                    checked
                                />
                                <span
                                    class="slider_switch round other_slider_switch"
                                ></span>
                            </label>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="encircledBox">
                                <label>Bars</label>
                                <label class="switch">
                                <input
                                    type="checkbox"
                                    name="bars"
                                    onclick="onBarsChange()"
                                />
                                <span
                                    class="slider_switch round other_slider_switch"
                                ></span>
                            </label>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="encircledBox">
                                <label></label>
                                <label class="switch">
                                <input type="checkbox" name="space" />
                            </label>
                            </div>
                        </li>
                        <% if (query.mode !== '1') { %>
                            <li class="nav-item">
                                <div class="slidecontainer">
                                    <label>Edge bundling</label>
                                    <input type="range" min="0" max="100" value="50" class="slider" id="myRange" oninput="onSliderChange(this.value)" onchange="onSliderChange(this.value)" />
                                </div>
                            </li>
                            <%}%>
                                <!-- <li class="nav-item">
                                    <button class="buttonsHeader" type="button" title="Toggle Statistics" onclick="toggleGraphSize()">
                            Statistics<i class="bi bi-graph-up"></i>
                        </button>
                                </li>-->
                                <li class="nav-item">
                                    <button id="show-details" class="buttonsHeader pressed" type="button" title="Enable change details table" onclick="toggleDifferenceView()">
                            Show Details<i class="bi bi-file-code"></i>
                        </button>
                                </li>
                                <% if (query.mode !== '1') { %>

                                    <li class="nav-item">
                                        <button class="buttonsHeader" title="Expand edge drawing tree" onclick="onExpand()">
                            Expand
                            <i class="bi bi-arrows-angle-expand"></i>
                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <!--Function comes from drawing system -->
                                        <button class="buttonsHeader" title="Sort taxonomy nodes" onclick="sort_and_update_lines()">
                            Sort
                            <i class="bi bi-sort-down-alt"></i>
                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <!--Function comes from drawing system -->
                                        <button class="buttonsHeader" onclick="resetTrees()">
                            Reset
                            <i class="bi bi-arrow-counterclockwise"></i>
                        </button>
                                    </li>
                                    <%}%>
                                        <li class="nav-item">
                                            <!--Function comes from ordering menu script -->
                                            <button type="“button”" class="buttonsHeader" title="Returns to homepage" onclick="onExit()">
                            Exit
                            <i class="bi bi-x-octagon"></i>
                        </button>
                                        </li>
            </ul>
        </div>
    </nav>
    <div id="visualization-area" class="vis-area">
        <!-- <div id="context-holder" class="main_body right top">
        <label id="treeContext" class="treeContext"></label>
        </div> -->
    </div>

    <!-- -->
    <!-- <div class="infoSquare">
        <p class="infoTitle"></p>
        <p class="infoBody"></p>
    </div> -->

    <!-- -->
</body>
<div id="busyLoader" class="overlay" style="display: none;">
    <div class="three-quarters-loader center-loader">
        Loading...
    </div>
</div>

</html>