<!DOCTYPE html>
<html>

<head>
    <title>Diaforá Taxonomy Viewer</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="assets/favicon.ico" sizes="16x16" />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/selector.css" rel="stylesheet" />
    <link rel="stylesheet" href="/javascripts/sunburst-chart/sunburst.css" />
    <link rel="stylesheet" href="/javascripts/icicle-chart/icicle.css" />
    <link rel="stylesheet" href="/javascripts/indentedTreeView/indentedTree.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/maindash.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css" />
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/bootstrap.bundle.js"></script>
    <script src="/javascripts/globalconf.js"></script>
    <script src="/javascripts/drawMenu.js"></script>
    <script src="/javascripts/generic.js"></script>
    <script src="/javascripts/countChildren.js"></script>
    <script src="/javascripts/preprocesamiento.js"></script>
    <script src="/javascripts/lineSystem.js"></script>
    <script src="/javascripts/filter.js"></script>
    <script src="/javascripts/ordering.js"></script>
    <script src="https://d3js.org/d3.v6.js"></script>
    <script src="https://d3js.org/d3-color.v2.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v2.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
    <script src="/javascripts/sunburst-chart/sunburst-chart.js"></script>
    <script src="/javascripts/icicle-chart/icicle-chart.js"></script>
    <script src="/javascripts/indentedTreeView/indentedTree.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="#">
            <div class="align-items-center no-gutters row">
                <div class="col">
                    <img height="30px" src="assets/DiaforaIcon.png" />
                </div>
                <div class="col">
                    <span class="mb-0 h1 ml-2 navbar-brand">Diaforá</span>
                </div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <div class="encircledBox">
                        <label>Congruent</label>
                        <label class="switch">
                                <input
                                    type="checkbox"
                                    name="congruece"
                                    onclick="onCongruenceChange()"
                                />
                                <span
                                    class="slider_switch round congruence_slider_switch"
                                ></span>
                            </label>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="encircledBox">
                        <label>Split</label>
                        <label class="switch">
                                <input
                                    type="checkbox"
                                    name="split"
                                    onclick="onSplitChange()"
                                />
                                <span
                                    class="slider_switch round split_slider_switch"
                                ></span>
                            </label>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="encircledBox">
                        <label>Merged</label>
                        <label class="switch">
                                <input
                                    type="checkbox"
                                    name="merge"
                                    onclick="onMergeChange()"
                                />
                                <span
                                    class="slider_switch round merge_slider_switch"
                                ></span>
                            </label>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="encircledBox">
                        <label>Moved</label>
                        <label class="switch">
                                <input
                                    type="checkbox"
                                    name="move"
                                    onclick="onMoveChange()"
                                />
                                <span
                                    class="slider_switch round move_slider_switch"
                                ></span>
                            </label>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="encircledBox">
                        <label>Renamed</label>
                        <label class="switch">
                                <input
                                    type="checkbox"
                                    name="rename"
                                    onclick="onRenameChange()"
                                />
                                <span
                                    class="slider_switch round rename_slider_switch"
                                ></span>
                            </label>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="encircledBox">
                        <label>Added</label>
                        <label class="switch">
                                <input
                                    type="checkbox"
                                    name="add"
                                    onclick="onAddedChange()"
                                />
                                <span
                                    class="slider_switch round add_slider_switch"
                                ></span>
                            </label>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="encircledBox">
                        <label>Excluded</label>
                        <label class="switch">
                                <input
                                    type="checkbox"
                                    name="removes"
                                    onclick="onRemovedChange()"
                                />
                                <span
                                    class="slider_switch round remove_slider_switch"
                                ></span>
                            </label>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="encircledBox">
                        <label></label>
                        <label class="switch">
                                <input type="checkbox" name="space" />
                            </label>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="encircledBox">
                        <label>Lines</label>
                        <label class="switch">
                                <input
                                    type="checkbox"
                                    name="lineas"
                                    onclick="onLineChange()"
                                    checked
                                />
                                <span
                                    class="slider_switch round other_slider_switch"
                                ></span>
                            </label>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="encircledBox">
                        <label>Bars</label>
                        <label class="switch">
                                <input
                                    type="checkbox"
                                    name="bars"
                                    onclick="onBarsChange()"
                                />
                                <span
                                    class="slider_switch round other_slider_switch"
                                ></span>
                            </label>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="encircledBox">
                        <label></label>
                        <label class="switch">
                                <input type="checkbox" name="space" />
                            </label>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="slidecontainer">
                        <label>Edge bundling</label>
                        <input type="range" min="0" max="100" value="50" class="slider" id="myRange" oninput="onSliderChange(this.value)" onchange="onSliderChange(this.value)" />
                    </div>
                </li>
                <li class="nav-item">
                    <button class="buttonsHeader" type="button" title="Toggle Statistics" onclick="toggleGraphSize()">
                            Statistics<i class="bi bi-graph-up"></i>
                        </button>
                </li>
                <li class="nav-item">
                    <button class="buttonsHeader" onclick="onExpand()">
                            Expand
                            <i class="bi bi-arrows-angle-expand"></i>
                        </button>
                </li>
                <li class="nav-item">
                    <!--Function comes from drawing system -->
                    <button class="buttonsHeader" onclick="sort_and_update_lines()">
                            Sort
                            <i class="bi bi-sort-down-alt"></i>
                        </button>
                </li>
                <li class="nav-item">
                    <!--Function comes from drawing system -->
                    <button class="buttonsHeader" onclick="resetTrees()">
                            Reset
                            <i class="bi bi-arrow-counterclockwise"></i>
                        </button>
                </li>

                <!-- <li class="nav-item">
                        <button type="button" class="matrix"  onclick="onMatrixClicked()"> <img src = "/images/matrixButton.png" ></img></button>
                        <button
                            type="button"
                            class="matrix"
                            onclick="onMatrixClicked()"
                        ></button>
                    </li> -->
                <li class="nav-item">
                    <!--Function comes from ordering menu script -->
                    <button type="“button”" class="buttonsHeader" onclick="onExit()">
                            Exit
                            <i class="bi bi-x-octagon"></i>
                        </button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main_body left top">
        <div id="statistics" class="collapse show">
            <label class="navbar-dark navbar-brand">Statistics</label>
            <table id="table_taxon_id" class="table_stadistic"></table>
            <hr class="separator" />
            <table id="table_rank_id" class="table_stadistic"></table>
        </div>
    </div>

    <div id="sketch-holder" class="main_body right top" style="display: none;">
        <div id="tooltip" style="position: absolute; display: none;z-index: 5;">
            <canvas id="tooltipChart" width="150" height="150"></canvas>
            <label id="tooltipText" class="toolTipText"></label>
        </div>
        <!-- Our sketch will go here! -->
        <script src="/javascripts/drawTree.js"></script>
    </div>
    <div id="context-holder" class="main_body right top">
        <div id="chart" class="sunburst"></div>
        <label id="treeContext" class="treeContext"></label>
        <div id="indentedTree" class="treeContainer"></div>
    </div>

    <!-- -->
    <div class="infoSquare">
        <p class="infoTitle"></p>
        <p class="infoBody"></p>
    </div>
    <!-- -->
</body>

</html>