.node rect {
    fill: #fff;
    stroke: #ffffff;
    stroke-width: 1px;
}

.node .label {
    font: 10px sans-serif;
    pointer-events: none;
}

.leafNode {
    opacity: 0.2;
}

.link {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    opacity: 1;
}

input[type=number] {
    width: 70px;
}

#span-result {
    font-size: 12px;
    font-style: italic;
}

.search-not-found {
    color: red;
}

.search-found {
    color: green;
}

.disabled {
    color: #8A8A83;
}